/**
* Basic css for messages
 */
#message{
    display:none;
}

.error{
    border-radius:5px;
    padding:2%;
    color:#fff;
    background:darkred;
    margin-bottom:5px;
}

.success{
    border-radius:5px;
    padding:2%;
    color:#fff;
    background:#26a69a;
    margin-bottom:5px;
}
